*{
    box-sizing: border-box;
  }
  body{

    margin: 40px;
    font-family: "ubuntu", Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(
        152deg,
        hsl(211deg 66% 71%) 0%,
        hsl(223deg 63% 74%) 11%,
        hsl(239deg 60% 77%) 22%,
        hsl(256deg 64% 76%) 33%,
        hsl(268deg 67% 74%) 44%,
        hsl(278deg 71% 72%) 56%,
        hsl(286deg 74% 71%) 67%,
        hsl(292deg 77% 68%) 78%,
        hsl(296deg 79% 66%) 89%,
        hsl(300deg 82% 63%) 100%
        );
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .logo {
    height: 50px;
    width: 50px;
    display: flex;
    margin-right: 85%;
    margin-left: 10px;
  
  }
  
  nav {
    background-color: rgba($color: #fff, $alpha: 0.7);
    padding: 5px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;


    .nav-list{
      background-color: transparent;
      padding: 10px;
      margin: 5px;
      border-radius: 10px;
      text-decoration: none;
    }
  
    a {
      font-weight: bold;
      color: #2c3e50;
  
      &.router-link-exact-active {
        color: #42b983;
        background-color: white;
        font-weight: bold;
      }
    }
  }

  h1 {
    margin: 30px 0;
    font-weight: bold;
    margin-top: 50px;
  }

  .firstInput {
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-self: left;
  }

  .disable{
    display: none;
  }

  .list-container {
    background-color: whitesmoke;
    li{
      list-style: none;
      padding: 10px;
    }
  }

  .mt{
    margin-top: 70px;
    display: inline-block;
  }
  h4 {
    font-family: bold;
  }
  .btn {
    width: 120px;
    height: 40px;
    border: 2px solid black;
    background-color: skyblue;
  }
  .btn:hover {
    opacity: 0.68;
  }