
table{
  width: 100%;
  font-size: 14px;
  color: #444;
  white-space: nowrap; 
  border-collapse: collapse;
  border-radius: 20px;
  box-shadow: 8px 13px 82px 30px rgba(0,0,0,0.75);
  -webkit-box-shadow: 8px 13px 82px 30px rgba(0,0,0,0.75);
  -moz-box-shadow: 8px 13px 82px 30px rgba(0, 0, 0, 0.068);
   >thead{
    background-color: yellowgreen;
    color: whitesmoke;
  }
  >thead th{
    padding: 15px;
  }
   th, td{
    border: 1px solid rgb(1, 1, 1);
    padding: 4px 7px;
  }
  >tbody>tr{
    background-color: blue;
    transition: 0.3 ease-in-out;
  }
  >tbody>tr:nth-child(even){
    background-color: antiquewhite; 
 }
 >tbody>tr:hover{
    filter: drop-shadow(0 2px 6px #0002)
  }
}
.action{
 display: flex;
 justify-content: center;
 gap: 3px;
 >a{
    text-decoration: none;
    color: #444;
    background: whitesmoke;
    border: 1px solid;
    display: inline-block;
    padding: 7px 17px;
    font-weight: bold;
    border-radius: 13px;
    transition: 0.3s ease-in-out;
   }
   >a:nth-child(1){
    background: rgb(0, 255, 30);
    color: whitesmoke
   }
   >a:nth-child(2){
    background: rgb(248, 16, 16);
    color: whitesmoke;
   }
   >a:hover{
    box-shadow: 0 2px 8px black;
  }
};
button{
  background-color: #007bff; 
  color: #fff;
  transition: all 0.3s ease;
};
.list-container {
  background-color:  #007bff;
  color: aliceblue;
  margin-left: 500px;
  margin-right: 500px;
};
.mt{
  h4{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  
}
  input{
    border-radius: 25px;
    text-align: center;

  }
}