$bc: rgba(246, 250, 255, 0.277);

.awal > img {
    margin-left: -1420px;
    margin-top: -57px;
    height: 100px;
}
.awal .boder{
    border: 10px;
    background-color: $bc;
    height: 5px;
}
.one img {
  height: 600px;
  width: 1550px;
  margin-left: -870px;
  margin-right: -850px;
}

 
 .p1 {
    display: inline-block;
    background-color: transparent;
    border: 2px solid $bc;
    margin-left: -1400px;
    width: 700px;
    height: 100px;
    margin-bottom: -90px;
    padding-top: 400px;
    margin-right: -300px;
    margin-top: -230px;
    border-radius: 20px ;
 }
 .one h1{
    margin-top: -350px;
    margin-left: -1000px;
    color: $bc;
  }
  .one >p {
    font-size: 15px;
    padding-right: 1000px;
    margin-top: 10px;
    color: $bc ;
    
  }
  .p2{
    display: inline-block;
    background-color: transparent;
    border: 2px solid $bc;
    width: 120px;
    margin-left: -1150px;
    margin-bottom: 16px;
    margin-top: 50px;
    border-radius:20px 20px 0px 0px ;

  }
 .p2 h3{
    color:$bc ;
    font-size: 15px;
    padding-top: 5px;
}

.p3 h3{
    font-size: 15px;
    color: $bc;
    margin-top: -40px;
    margin-left: -800px;
}
.awal1{
    display: inline-block;
    background-color: transparent;
    border: 2px solid $bc;
    margin-left: 500px;
    margin-right: -140px;
    margin-top: -1000px;
    height: 350px;
    width: 900px;
    border-radius: 30px 0px 0px 30px;
}
.awal1 h1{
    color: $bc;
}
.awal1 p {
    padding-left: 50px;
    padding-right: 200px;
    padding-top: 100px;
    color: $bc;
}
.box-1{
    display: inline-block;
    background-color: transparent;
    border: 2px solid $bc;
    height: 36px;
    color: $bc ;
    width: 200px;
    font-size: 15px;
    margin-left: -400px;
    margin-top: 20px;
    padding-top: 0px;
    border-radius: 20px 20px 0px 0px;
}
.awal1 h3{
    font-size: 20px;
}
.awal1 .bawah > h3{
    margin-left: 90px;
    margin-right: -500px;
     margin-top: -30px;
}

.awal2 img{
  margin-top: 200px;
  padding-top: 100px;
}
.box2 h1 {
    margin-left: -850px;
    margin-top: 70px;
    font-size: 70px;
    color: $bc;
}
.box2{
    display: inline-block;
    box-shadow: 10px;
    background-color: $bc ;
    border: 2px solid $bc;
    border-radius: 20px 20px 20px 20px;
    height: 300px;
    width: 500px;
    margin-top: -480px;
    margin-bottom: 300px;
    padding-top: 0px;
    margin-left: -800px;
}
.isi1{
    margin-top: -660px;
}
.isi1 h1{
    margin-left: -800px;
    font-size: 50px;
    color: $bc;
}
.isi1 p{
    padding-right: 940px;
    padding-left: 130px;
    padding-top: 30px;
    color: darkgray;
}

.bagian3{
    display: inline-block;
    box-shadow: 10px;
    background-color: $bc ;
    border: 2px solid $bc;
    border-radius: 20px 20px 20px 20px;
    margin-top: 100px;
  margin-left: 450px;
  margin-right: 450px;
  
}
.bagian3 h1{
    padding-bottom: 10px;
    font-size: 80px;
    margin-top: 10px;
}
.bagian3 p{
    font-size: 12px;
    color: $bc;
    margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 70px;
}
.isi3{
    display: inline-block;
    border-radius: 20px 20px 0px 0px;
    background-color: transparent;
    border: 2px solid $bc;
    margin-top: -100px;
    padding-top: 10px;
    margin-bottom: -2px;
}
.isi3 h3{
    font-size: 15px;
    height: 20px;
    width: 120px;
    padding-top: 0px;
    color: $bc;
   
}

.bc{
    display: block;
    height: 600px;
    background-color: transparent;
    border: 2px solid $bc;
    margin-top: 80px;
  }
  .bc h1{
    font-size: 13px;
    color: $bc;
    padding-top: 560px;
    padding-left: 750px;
    margin-left: -700px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
  }
  h1.bd{
    color: whitesmoke;
    margin-top: -580px;
    margin-left: -950px;
    font-size: 60px;
    
  }
  .ca img{
    width: 350px;
    height: 220px;
    margin-left: -900px;
    margin-top: -15px;
  }
  .cc img{
    width: 350px;
    height: 225px;
    margin-top: -250px;
    margin-left: -150px;
  }
.cd img {
    width: 350px;
    height: 227px;
    margin-left: 600px;
    margin-top: -300px;
}
.da{
    display: block;
    background-color: transparent;
    height: 220px;
    margin-right: 906px;
    border-radius: 0 0 20px 20px;
    border: 2px solid $bc;
    padding-bottom: 0px;
    padding-right: 2px;
    margin-left: 143px;
    margin-top: -48px;
    margin-right: 1043px;
}
.da h1{
    color: $bc;
    margin-top: 0px;
    font-size: 15px;
    padding-top: 20px;
    margin-left: 20px;
}
.da p{
    margin-left: 30px;
    font-size: 13px;
    padding-right: 15px;
    color: $bc;
  }
.db{
        display: block;
        background-color: transparent;
        height: 230px;
        margin-right: 1000px;
        margin-left: 518px;
        border-radius: 0 0 20px 20px;
        border: 2px solid $bc;
        width: 350px;
        margin-top: -230px;
        padding-bottom: 3px;
        padding-right: 1px;
}
.db h1{
    color: $bc;
    padding-left: 25px;
    font-size: 15px;
    padding-top: 20px;
}
.db p{
    margin-left: 30px;
    font-size: 13px;
    padding-right: 15px;
    color: $bc;
  }
  .df{
    display: block;
    background-color: transparent;
    height: 240px;
    margin-top: -229px;
    width: 352px;
    border-radius: 0px 0px 20px 20px;
    border: 2px solid $bc;
    margin-left: 892px;
  }
  .df h1 {
    color: $bc;
    padding-left: 25px;
    font-size: 15px;
    padding-top: 20px;
  }
  .df p{
    margin-left: 30px;
    font-size: 13px;
    padding-right: 15px;
    color: $bc;
  }
  .di{
    display: block;
    background-color:transparent;
    border: 1px solid $bc;
    margin-top: 61px;
    height: 400px;
  }
  .di h1{
    color:$bc;
    font-size: 40px;
    margin-left: -750px;
    padding-top: 70px;
    padding-left: 680px;
  }
  .di ul{
    color: $bc;
    padding-left: 600px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: -700px;
  }
  .big{
    background-color: transparent;
    border: 2px solid $bc;
    height: 150px;
  }
  .big p {
    margin-top: 130px;
  }

  //BAGIAN ABOUT//


  